<ion-view view-title="Lista de Alunos" ng-init="listStudents()">
    <ion-content class="bgGeral">
        <ion-refresher pulling-text="Atualizando ..." on-refresh="doRefresh()"></ion-refresher>
        <div class="padding" style="margin-top: 10px">
            <div class="list">
                <div ng-repeat="(key ,student) in students">
                    <a class="item item-avatar">
                        <img ng-if="key === 0" src="https://scontent.fgru3-2.fna.fbcdn.net/v/t1.0-9/13051627_10204127870557259_3835916420344059790_n.jpg?_nc_cat=0&oh=38cd8d2c634aa60639865682107416ba&oe=5B902D36">
                        <img ng-if="key === 1" src="img/image3.jpeg">
                        <img ng-if="key === 2" src="img/image2.jpeg">
                        <img ng-if="key === 3" src="img/image1.jpeg">
                        <h2>{{student.name}}</h2>
                        <p>Disciplina: {{student.discipline}}</p>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>