<ion-view view-title="Relátorio de Desempenho" ng-init="reports()">
    <ion-content class="bgGeral">
        <ion-refresher pulling-text="Atualizando ..." on-refresh="doRefresh()"></ion-refresher>
        <div class="padding">
            <div class="list list-inset">
                <div class="item">
                    Matemática - Exemplo: 01
                    <div google-chart chart="myChartObject" style="width:120%;"></div>
                    <a style="margin-left: 220px" href="#/app/trigger"> Gatilhos </a>
                </div>
                <br/>
                <div class="item">
                    Matemática - Exemplo: 02
                    <div google-chart chart="myChartObject" style="height:100%; width:100%;"></div>
                    <a style="margin-left: 220px" href="#/app/trigger"> Gatilhos </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>